body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

header {
  background: #1a237e;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #283593;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}


.tab-btn {
  padding: 10px 20px;
  border: none;
  background: #3949ab;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}

.tab-btn.active {
  background: #1a237e;
}

.person-card {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.person-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
